body{
    margin: 0;
    padding: 0;
    font-family: 'Sassy Frass', cursive;
    

}
.text{
    font-style: italic ;
    color: black;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.add{
    font-weight: bold;
    font-size: medium;
    color: rgb(220, 105, 34);
}
.bg{
    background: rgb(4, 1, 1);
}
.up{
    color:rgb(15, 151, 200);
    font-style: oblique;
    
}
.pt{
    padding-top: 90px;
}
.phone{
    font-style: oblique;
    font-size: larger;
    color: rgb(52, 43, 155);
}
.np{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.LST{
    font-size: larger;

}
.phone{
   
    cursor: pointer;
}
.card{
    align-items: center;
    border-width: 0;
}
li{
    list-style-type:none;
}
.img{
    width: 300px;
    height: 100px;
}
.imgs:hover{
    scale: 1.1;
}
.card{
    box-shadow: 1px 2px 5px black;
}
.imgs{
    height: 250px;
}

.i:hover{
    color: rgb(4, 4, 193);
   
}
.card{
    overflow: none;
}
@media only screen and (max-width: 600px) {
    .about {
     font-size: 20px;
    }
  }

 .icon:hover{
    scale: 1.5;
 } 



